# dependencies
/node_modules
/chain/node_modules
/chain/artifacts
/chain/cache
/chain/typechain-types

# next.js
/.next/
/out/
/build

# local database — the schema is created on first run, the seed is in code
/data/*.db
/data/*.db-journal
/data/*.db-wal
/data/*.db-shm

# misc
.DS_Store
*.pem
npm-debug.log*

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
